.calender_book_a_meeting {
  width: 18px;
  height: 20px;
  mask-image: url('../../images/scpa-icons/calendar-icon.svg');
  -webkit-mask-image: url('../../images/scpa-icons/calendar-icon.svg');
}
.eamil_send_a_message {
  width: 21px;
  height: 19px;
  mask-image: url('../../images/scpa-icons/email-white-icon.svg');
  -webkit-mask-image: url('../../images/scpa-icons/email-white-icon.svg');
}
