.our_services_main_container {
  @media (min-width: 1024px) {
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
  }
  clip-path: polygon(0 3%, 100% 0, 100% 97%, 0% 100%);
}

.our_services_card_black_color {
  > div:nth-child(2) {
    border-bottom: 1px solid #b2b2b2;
    h5 {
      color: #1a1a1a;
      span {
        background-color: #333333;
      }
    }
    p {
      color: #333333;
    }
  }
}

.our_services_section_rich_text_black {
  > div {
    p {
      @media (min-width: 1024px) {
        font-size: 20px;
      }
      font-size: 16px;
      line-height: 30px;
      font-weight: 400;
      letter-spacing: 0.03em;
      font-family: 'Public Sans';
      color: #1a1a1a;
      opacity: 0.8;
    }
  }
}
.our_services_section_rich_text_white {
  > div {
    p {
      @media (min-width: 1024px) {
        font-size: 20px;
      }
      font-size: 16px;
      line-height: 30px;
      font-weight: 400;
      letter-spacing: 0.03em;
      font-family: 'Public Sans';
      color: white;
      opacity: 0.8;
    }
  }
}

.our_services_button_color_icon {
  > img {
    filter: invert(71%) sepia(100%) saturate(1%) hue-rotate(15deg)
      brightness(95%) contrast(91%);
  }
}

.active_services_hub_icon {
  > img {
    filter: invert(65%) sepia(65%) saturate(6371%) hue-rotate(205deg)
      brightness(94%) contrast(91%);
  }
}
