.navbar_drop_down_chevron {
  width: 18px;
  height: 18px;
  mask-image: url('../../images/scpa-icons/white-chevron-down.svg');
  -webkit-mask-image: url('../../images/scpa-icons/white-chevron-down.svg');
}
