.hero_section_rich_text {
  > div {
    > p {
      @media (min-width: 1024px) {
        font-size: 20px;
      }
      font-family: 'Public Sans', sans-serif;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      font-size: 16px;
      letter-spacing: 0.03em;
      color: #ffffff;
    }
  }
}
