.our_history_card_rich_text {
  > div {
    p {
      @media (min-width: 1024px) {
        font-size: 16px;
      }
      font-family: 'Public Sans';
      font-style: normal;
      margin-bottom: 1rem;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 16px;
      letter-spacing: 0.03em;
      color: #333333;
    }
  }
}
