.reviews_rich_text {
  > div {
    p {
      font-weight: 400;
      font-family: 'Public-Sans', sans-serif;
      color: #333333;
      font-style: normal;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.03rem;
    }
  }
}
