.cta_rich_text {
  > div {
    p {
      @media (min-width: 1024px) {
        font-size: 16px;
      }
      font-family: 'Public Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.03em;
      color: #333333;
    }
  }
}
.cta-clip-path {
  @media (min-width: 1024px) {
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
  }
  clip-path: polygon(0 3%, 100% 0, 100% 97%, 0% 100%);
}
