.location_two_column_rich_text {
  > div {
    p {
      font-family: 'Public Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.03em;
      color: #333333;
    }
  }
}
